*{
  box-sizing: border-box;
}

body{
 margin: 0px;
 background-color: #282D35;
 color: white;
}

header{
  background-color: black;
  height: 80px;
  padding: 20px 25px;
}
nav{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.nav--icon{
  width: 50px;
  margin-right: 10px;
  
}

nav > span{
  color: lightblue;
  font-size: 1.6rem;
  font-weight: 700;
}

main{
  padding: 60px 30px;
  font-weight: 700;
}
.react-facts{
  list-style-type: circle;
  color: lightblue;
}