/* src/index.css  */

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #fAfAf8;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 80px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}

header > img{
    width: 50px;
}